@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* body {
  background-color: #e91e63;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
} */


.footer-wrapper {
  background: linear-gradient(293.57deg, #114E4E 0%, #052D2D 23.8%, #041111 42.57%, #000909 63.76%, #000909 69.62%);
  color: #EEEEEE;
  padding-top: 72px !important;
  padding-bottom: 36px !important;
}

body footer h5 {
  font-weight: 600 !important;
  size: 16px !important;
  line-height: 150%;
  color: #ECF1F4;
}

body footer .address p {
  font-weight: 400 !important;
  size: 16px !important;
  line-height: 150%;
  color: #ECF1F4;
}

body footer .nav-footer p {
  font-weight: 700 !important;
  size: 16px !important;
  line-height: 150%;
  color: #ECF1F4;
}

body footer .nav-footer a {
  font-weight: 400 !important;
  size: 16px !important;
  color: #ECF1F4;
}

body footer li {
  margin-bottom: 12px;
}

body footer .social-media a {
  margin-right: 10px;
  text-decoration: none;
}

body footer .copyright {
  margin-top: 76px;
  padding-top: 36px;
}

body footer .copyright p {
  font-weight: 400 !important;
  size: 16px !important;
  color: #ECF1F4;
}

body .cl-light {
  color: #EEEEEE;
}

body .cl-light-grey-2 {
  color: #90BCB7;
}

body .font-lora {
  font-family: 'Lora', sans-serif !important;
}

.footer-wrapper {
  position: relative;
  bottom: 0;
  padding-top: 3em;
  background-color: #24262b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.parent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}